*,
*:after,
*:before {
    font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 10px;
}


html,
body {
    box-sizing: inherit;
    width: 100%;
    height: 100%;
}

h1,
h2 strong {
    font-weight: 700;
}

p,
span,
strong,
select {
    font-size: 14px;
    line-height: 22px;
    color: #848484;
}
:root{
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}