*,
*:after,
*:before {
    font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


html,
body {
    box-sizing: inherit;
    width: 100%;
    height: 100%;
}

h1,
h2 strong {
    font-weight: 700;
}

p,
span,
strong,
select {
    font-size: 14px;
    line-height: 22px;
    color: #848484;
}

html {
    scroll-behavior: smooth;
}


@media(max-width: 720px) {
    h2 {
        font-size: 40px;
        line-height: 49px;
    }

    .hero {
        position: relative;
        padding: 40px 32px;
        pointer-events: none;
        height: 100vh;
        background-color: #75BC97;
        background-image:
            url("images/hero/mobile/mobile-leaves.png"),
            url("images/hero/mobile/mobile-plantperson.png");
        background-size: 100% auto, auto 234px;
        background-position: top center, bottom 25px center;
        background-repeat: no-repeat;
        pointer-events: none;


        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 1000;
            pointer-events: initial;
        }

        &__logo {
            width: 212px;
            margin-bottom: 32px;
        }

        &__message {
            font-size: 40px;
            line-height: 48.76px;
            color: #FFF;
            margin-bottom: 24px;
        }

        &__arrow {
            height: 46px;
            width: 36px;
        }
    }

    .selects {
        background-color: #FFF;
        padding: 24px 24px 48px 48px;

        p {
            padding-right: 24px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .select {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 75px 44px auto;
            grid-gap: 16px;
            width: 100%;

            &__illustration {
                margin-top: auto;

                &--sun {
                    width: 75px;
                    height: 75px;
                }

                &--wateringcan {
                    height: 75px;
                    width: 104px;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                }

                &--dog {
                    width: 75px;
                    height: 62px;
                }
            }

            &__input {
                position: relative;
                width: 100%;
                height: 40px;
                border: 1px solid #A8A8A8;
                border-radius: 48px;
                background-color: transparent;

                &:focus-within {
                    background-color: #F8F8F8;
                }

                span {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    left: auto;
                    right: 16px;
                    bottom: 0;
                    width: 18px;
                    pointer-events: none;
                }

                select {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    width: 100%;
                    height: 40px;
                    padding: 0 32px;
                    border-width: 0;
                    color: #A8A8A8;
                    outline: none;

                    &~.select__input--actived {
                        display: none;
                    }

                    &~.select__input--deactived {
                        display: flex;
                    }

                    &:focus-within:hover {
                        &~.select__input--actived {
                            display: flex;
                        }

                        &~.select__input--deactived {
                            display: none;
                        }
                    }

                    option {
                        padding: 0;
                        margin: 0 -24px;
                    }
                }
            }
        }

        .select+.select {
            margin-top: 56px;
        }
    }

    .plants {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        padding: 32px 0;
        overflow: hidden;

        h2 {
            color: #0C261C;
        }

        &__header,
        &__content,
        &__footer {
            margin-bottom: 20px;
        }

        &__header {
            padding: 0 24px 0 48px;
        }

        &__illustration {
            width: 158px;
            margin-bottom: 16px;
        }

        &__content {
            display: grid;
            grid-auto-flow: column;
            grid-column-gap: 20px;
            margin-bottom: 32px;
            overflow-x: scroll;
            padding: 0 24px;

            .plants__card {
                position: relative;
                padding: 18px;
                width: 260px;
                background-color: #FFF;
                border-radius: 5px;

                .plant {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 224px 28px 28px;
                    width: 100%;
                    height: 100%;
                    padding-top: 24px;

                    &__name,
                    &__price {
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 700;
                        color: #1E6B4E;
                        display: flex;
                        align-items: center;
                    }

                    &__image {
                        grid-column: 1 / span 4;
                        height: 100%;
                        margin: auto;
                        overflow: hidden;
                    }

                    &__name {
                        grid-column: 1 / span 4;
                        grid-row: 2;
                    }

                    &__price {
                        grid-column: 1 / span 2;
                        grid-row: 3;
                    }

                    &__icons {
                        grid-column: 3 / span 2;
                        grid-row: 3;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        img {
                            height: 16px;

                            +img {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }

            .plants__card--favotire {
                &:after {
                    content: '✨ Staff favorite';
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 20px;
                    left: 0;
                    right: auto;
                    bottom: auto;
                    height: 40px;
                    width: 50%;
                    padding-left: 8px;
                    font-size: 12.8px;
                    font-weight: 700;
                    border-radius: 0 24px 24px 0;
                    background-color: #75BC97;
                    color: #FFF;
                }
            }
        }

        &__footer {
            padding: 0 24px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 100%;

                border-radius: 24px;
                border: 1px solid #15573F;

                font-size: 16px;
                color: #196146;
                font-weight: 300;
                line-height: 20px;
                text-decoration: none;
                background-color: transparent;

                span {
                    display: inline-block;
                    color: #196146;

                    +span {
                        margin-left: 16px;
                    }

                    img {
                        margin-top: 8px;
                        height: 24px;
                    }
                }

            }
        }
    }

    .no-plants {
        display: flex;
        flex-direction: column;
        padding: 48px 32px;
        background-color: #F2F2F2;

        &__content {

            h2,
            p {
                color: #A9A9A9;
            }

            h2 {
                font-size: 45px;
                line-height: 54.86px;
                margin-bottom: 16px;
            }

            p {
                line-height: 27px;
                padding-right: 48px;
            }
        }

        &__illustration {
            margin: 32px auto auto;
            height: 168px;
        }
    }

}

@media(min-width: 720px) {
    h1 {
        font-size: 70px;
        line-height: 85.33px;
    }

    h2 {
        font-size: 55px;
        line-height: 67.05px;
    }

    .hero {
        position: relative;
        padding: 56px 20%;
        height: 500px;
        background-color: #75BC97;
        background-image:
            url("images/hero/desktop/left-leaves.png"),
            url("images/hero/desktop/right-leaves.png"),
            url("images/hero/desktop/plantperson.png");
        background-size: 60% auto, auto 100%, auto 85%;
        background-position: top left, top right, top 34px right 28%;
        background-repeat: no-repeat;

        &__content {
            display: flex;
            flex-direction: column;
            width: 400px;
            max-height: 500px;
            z-index: 1000;
        }

        &__logo {
            width: 212px;
            margin-bottom: 32px;
        }

        &__message {
            color: #FFF;
            margin-bottom: 24px;
        }

        &__arrow {
            height: 46px;
            width: 36px;
        }

    }

    .selects {
        background-color: #FFF;
        padding: 0 20%;

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 300px;
        }

        .select {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 75px 44px auto;
            grid-gap: 16px;
            width: 224px;

            &__illustration {
                margin-top: auto;

                &--sun {
                    width: 75px;
                    height: 75px;
                }

                &--wateringcan {
                    height: 75px;
                    width: 104px;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                }

                &--dog {
                    width: 75px;
                    height: 62px;
                }
            }

            &__input {
                position: relative;
                width: 220px;
                height: 40px;
                border: 1px solid #A8A8A8;
                border-radius: 48px;
                background-color: transparent;

                &:focus-within {
                    background-color: #F8F8F8;
                }

                span {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    left: auto;
                    right: 16px;
                    bottom: 0;
                    width: 18px;
                    pointer-events: none;
                }

                select {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    width: 100%;
                    height: 40px;
                    padding: 0 16px;
                    border-width: 0;
                    color: #A8A8A8;
                    outline: none;

                    &~.select__input--actived {
                        display: none;
                    }

                    &~.select__input--deactived {
                        display: flex;
                    }

                    &:focus-within:hover {
                        &~.select__input--actived {
                            display: flex;
                        }

                        &~.select__input--deactived {
                            display: none;
                        }
                    }

                    option {
                        padding: 0;
                        margin: 0 -24px;
                    }
                }
            }
        }
    }

    .plants {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 36px 20% 72px 20%;

        h2 {
            color: #0C261C;
        }

        &__header,
        &__content,
        &__footer {
            margin-bottom: 56px;
        }

        &__illustration {
            width: 158px;
            margin-bottom: 16px;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(auto-fill, 245px);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .plants__card {
                position: relative;
                padding: 18px;
                background-color: #FFF;
                border-radius: 5px;

                .plant {
                    display: grid;
                    grid-template-columns: repear(4, 1fr);
                    grid-template-rows: 160px 28px 28px;
                    width: 100%;
                    height: 100%;

                    &__name,
                    &__price {
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 700;
                        color: #1E6B4E;
                        display: flex;
                        align-items: center;
                    }

                    &__image {
                        grid-column: 1 / span 4;
                        height: 100%;
                        margin: auto;
                        overflow: hidden;
                    }

                    &__name {
                        grid-column: 1 / span 4;
                        grid-row: 2;
                    }

                    &__price {
                        grid-column: 1 / span 2;
                        grid-row: 3;
                    }

                    &__icons {
                        grid-column: 3 / span 2;
                        grid-row: 3;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        img {
                            height: 16px;

                            +img {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }

            .plants__card--favotire {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;

                &:after {
                    content: '✨ Staff favorite';
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 32px;
                    left: 0;
                    right: auto;
                    bottom: auto;
                    height: 40px;
                    width: 188px;
                    padding-left: 20px;
                    font-weight: 700;
                    border-radius: 0 24px 24px 0;
                    background-color: #75BC97;
                    color: #FFF;
                }

                .plant {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 352px 30px 30px;
                    grid-row-gap: 16px;
                    padding: 20px;

                    &__image {
                        grid-column: 1 / span 4;
                    }

                    &__name {
                        grid-column: 1 / span 2;
                        grid-row: 2 / span 2;
                        font-size: 35px;
                        line-height: 37px;
                    }

                    &__price {
                        grid-column: 3 / span 2;
                        grid-row: 2;
                        font-size: 24px;
                        line-height: 28px;
                        justify-content: flex-end;
                    }

                    &__icons {
                        img {
                            height: 25px;

                            +img {
                                margin-left: 16px;
                            }
                        }
                    }

                }
            }
        }

        &__footer {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 100%;

                border-radius: 24px;
                border: 1px solid #15573F;

                font-size: 16px;
                color: #196146;
                font-weight: 300;
                line-height: 20px;
                text-decoration: none;
                background-color: transparent;

                span {
                    display: inline-block;
                    color: #196146;

                    +span {
                        margin-left: 16px;
                    }

                    img {
                        margin-top: 8px;
                        height: 24px;
                    }
                }

            }
        }
    }

    .no-plants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 216px;
        grid-column-gap: 112px;
        padding: 72px 20% 72px 20%;
        background-color: #F2F2F2;

        &__content {

            h2,
            p {
                color: #A9A9A9;
            }

            h2 {
                font-size: 45px;
                line-height: 54.86px;
                margin-bottom: 16px;
            }

            p {
                width: 220px;
                line-height: 27px;
            }
        }

        &__illustration {
            margin: auto 0 auto 72px;
            height: 204px;
        }
    }
}