@media(max-width: 1200px) {
    .plant {
        position: relative;
        padding: 18px;
        width: 260px;
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 4px 8px 16px 0px rgb(0, 0, 0, 0.05);

        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 224px 28px 28px;
            width: 100%;
            height: 100%;
        }

        &__name,
        &__price {
            font-size: 16px;
            line-height: 28px;
            font-weight: 700;
            color: #1E6B4E;
            display: flex;
            align-items: center;
        }

        &__image {
            grid-column: 1 / span 4;
            height: 100%;
            margin: auto;
            overflow: hidden;
        }

        &__name {
            grid-column: 1 / span 4;
            grid-row: 2;
        }

        &__price {
            grid-column: 1 / span 2;
            grid-row: 3;
        }

        &__icons {
            grid-column: 3 / span 2;
            grid-row: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                height: 16px;

                +img {
                    margin-left: 8px;
                }
            }
        }

        &--favorite {
            &:after {
                content: '✨ Staff favorite';
                display: flex;
                align-items: center;
                position: absolute;
                top: 20px;
                left: 0;
                right: auto;
                bottom: auto;
                height: 40px;
                width: 50%;
                padding-left: 8px;
                font-size: 12.8px;
                font-weight: 700;
                border-radius: 0 24px 24px 0;
                background-color: #75BC97;
                color: #FFF;
            }
        }
    }
}

@media(min-width: 1200px) {
    .plant {
        position: relative;
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 8px 16px 32px 0px rgb(0, 0, 0, 0.05);

        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 160px 28px 28px;
            padding: 18px;
        }

        &__name,
        &__price {
            font-size: 16px;
            line-height: 28px;
            font-weight: 700;
            color: #1E6B4E;
            display: flex;
            align-items: center;
        }

        &__image {
            grid-column: 1 / span 4;
            height: 100%;
            margin: auto;
            overflow: hidden;
        }

        &__name {
            grid-column: 1 / span 4;
            grid-row: 2;
        }

        &__price {
            grid-column: 1 / span 2;
            grid-row: 3;
        }

        &__icons {
            grid-column: 3 / span 2;
            grid-row: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                height: 16px;

                +img {
                    margin-left: 8px;
                }
            }
        }

        &--favotire {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;

            &:after {
                content: '✨ Staff favorite';
                display: flex;
                align-items: center;
                position: absolute;
                top: 32px;
                left: 0;
                right: auto;
                bottom: auto;
                height: 40px;
                width: 188px;
                padding-left: 20px;
                font-weight: 700;
                border-radius: 0 24px 24px 0;
                background-color: #75BC97;
                color: #FFF;
            }

            .plant__content {
                grid-template-rows: 352px 30px 30px;
                grid-row-gap: 16px;
                padding: 20px;
            }

            .plant__image {
                grid-column: 1 / span 4;
            }

            .plant__name {
                grid-column: 1 / span 2;
                grid-row: 2 / span 2;
                font-size: 35px;
                line-height: 37px;
            }

            .plant__price {
                grid-column: 3 / span 2;
                grid-row: 2;
                font-size: 24px;
                line-height: 28px;
                justify-content: flex-end;
            }

            .plant__icons {
                img {
                    height: 25px;

                    +img {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}