@media(max-width: 1200px) {
    .selection-bar {
        background-color: #FFF;
        padding: 24px 24px 48px 48px;

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%
        }
    }
}

@media(min-width: 1200px) {
    .selection-bar {
        display: flex;
        background-color: #FFF;
        height: max-content;
        padding: 0 20%;

        &__form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 300px;
            width: 100%;
        }
    }
}